[Desktop Entry]
X-AppImage-Arch=x86_64
X-AppImage-Version=2b5d733
X-AppImage-Name=LightThemAll
Name=LightThemAll
Exec=light_them_all
Icon=light
Type=Application
Terminal=false
Categories=Utility;
Comment=
